@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.aboutus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(247, 247, 247);
    font-family: "Roboto", sans-serif;
}

h2, p{
    margin: 0;
}

h2{
    margin-bottom: 2rem;
}

p{
    margin-bottom: 0.5rem;
}

.philosophy, .founder, .infrastructure{
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    /* Вставить картинку на задний фон и выровнять её по правому краю с легким fade-out */
}
